/*
	Author: Nurul Hidayah Binti Saharudin
	Date: 7 June 2021
	Student Id: 2020847026 
*/

body{
	background-color: white;
	font-family: Roboto, Arial, sans-serif;}

.grid-banner h1{
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;
	height: 250px;
	background-image: url("banner.jpg");
	display: flex;
	background-size: cover;
	font-family: Lucida Console, monospace;}

.grid-container{
	display: grid;
	grid-template-columns: auto auto;
	padding: 10px;
	text-align: left;
	grid-gap: 10px;
	margin: 5px;}

#personalInfo, #contactInfo, #feedback{
	background-color: rgb(214, 234, 248);}

legend{
	background-color:#1c87c9;
	padding: 10px;}

label{
	color: black;}

input, textarea{
	padding: 5px;
  width: 100%;
  border-radius: 8px;
  border-style: solid 2px;
  border-color:  #43D1AF ;}

input:focus, textarea:focus{
	border-style: solid;
	border-width: 2px;
	border-color: #43D1A4;}


input[type=submit], input[type=reset]{
	color: white ;
	background-color:  #1abc9c;
	font-size: 16px;
	width: 150px;
	radius: 5px;}